<!-- <p>footer works!</p> -->
<footer class="footer bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Fly8-Buddy</h5>
        <p>Your trusted flight booking partner</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Home</a></li>
          <li><a href="#" class="text-white">Flights</a></li>
          <li><a href="#" class="text-white">About Us</a></li>
          <li><a href="#" class="text-white">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <address>
          <p>Email: info&#64;fly8buddy.com</p>
          <p>Phone: +1 (123) 456-7890</p>
        </address>
      </div>
    </div>
    <hr class="bg-light">
    <div class="text-center">
      <p class="mb-0">&copy; 2023 Fly8-Buddy. All rights reserved.</p>
    </div>
  </div>
</footer>
